doctype html
html
  head
    title www.GPTDanceAcademy.com
    block scripts
    block style 
  body
    block content
    block foot 
        section#footer 
            | Copyright © 2022 GPT Dance Academy.com | All Rights Reserved