extends base.pug

block content 
    div.bg
        section.contact
            .inp
                h3.conhead Contact Us
                form.form(action="/contact" , method="post")
                    div
                      input(type='text', placeholder='Enter your name')
                    div
                      input(type='email', placeholder='Enter your email address')
                    div
                      input(type='number', placeholder='Enter your number')
                    div
                      input(type='text', placeholder='Enter your address')
                    div
                      textarea#message(name='message', cols='30', rows='10', placeholder='Enter your message here')
                    input#con(type='submit', value='submit')