doctype html
html
  head
    style
      include ../static/style.css
  body
   nav#navbar
        ul
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") services ]
            li #[a(href="/") Contect us ]
   section#intro 
        h1#head Welcome To GPT Dance Academy
        div#buttons
          button#btn Contect Us 
          button#btn Join Now 
   section#sponsers 
        |this is sponsers 
   section#footer 
        |this is footer  
   script
      include ../static/script.js 