doctype html
html
  head
    style
      include ../static/style.css
  body
   nav#navbar
        ul
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") services ]
            li #[a(href="/") Contect us ]
   section#intro 
        h1#head Welcome To GPT Dance Academy
        div#buttons
          button#btn Contect Us 
          button#btn Join Now 
   section#sponsers 
     h1#spon our sponsors
     div.box
          div.boximg
               img(src='../static/person.svg')
          div
               h1 Sponser 
               p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae nesciunt distinctio
                 |fuga.Quia accusantium ipsum est consequatur enim asperiores commodi!
       
   section#footer 
        |this is footer  
   script
      include ../static/script.js 